<div class="carousel-slider"> 
  <ul class="slides"> 
    <li class="slide-item" *ngFor="let image of images">
      <h2 class="slide-item-text">{{image.title}}</h2>
      <img class="slide-item-img" src="{{image.url}}" alt="">
    </li>
  </ul>
</div>


<!-- <div class="home">
    <div class="cover-home">
        <img class="img-home" src="../../assets/img/cover(1).jpg" />      
    </div>
    <div class="address-container">
    <div class="address-content">
      <h4 class="py-1">DE BIJENKORF</h4>
      <div class="h2 headings-1 t-uppercase store-name">flkdgs</div>
      <h6 class="address">
  dsigljfk'd;hfjl
  'hf fgd;lksgf'd;hk klfdjg;fjhd' ds hj'fl
      </h6>
    </div>
  </div>
  </div> -->