@import "../../custom-theme.scss";

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: $primary-light-blue;
    color: $grey-2;
    // border-top: 3px solid $tertiary-dark-blue;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    overflow: auto;
    z-index: 9999;
    .slid-nav {
        .mat-button {
            padding: 5px 10px;
            line-height: 35px;
            min-width: 30px;
        }
        .mat-icon {
            font-size: 32px;
            // height: 38px;
            // width: 40px;
        }
        display: none;
        float: left;        
    }
    .home {
        background-image: url('../../assets/logo.svg');   
        background-repeat: no-repeat;
        background-color: $grey-6;
        border-radius: 0px;
        // margin: 1px;
        display: block;
        height: 48px;
        width: 200px;
        float: left;
        cursor: pointer;
        transition: all 1s;
        opacity: 1;
        // &:hover:not(.home) {
        //     background-color: #33658A;
        //     color: #86BBD8;
        // } 
    }
    .nav-item {
        min-width: 110px !important;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: 700;
        .mat-tab-link {
            padding: 10px;
            line-height: 30px;
            // min-width: 110px !important;
        }
        // .kak {
        //     top: 50px !important;
        // }
        // display: block;
        // color: #86BBD8 !important;
        // float: left;
        // height: 100%;
        transition: all 1s;
        // cursor: pointer;
        &:hover {
            background-color: $grey-7;
        }       
    }
}
.link-btn:hover /deep/ .mat-button-focus-overlay {
    background-color: transparent;
}

@media screen and (max-width: 750px) {
    .nav-bar {
        height: 50px;
        .nav-item {
            min-width: 50px !important;
            .mat-tab-link {
                padding: 10px;
                line-height: 30px;
                min-width: 50px !important;
            }    
        }
    }
}
@media screen and (max-width: 500px) {
    .nav-bar {
        height: 50px;
        .slid-nav {
            display: block;
        }
        .nav-item {
            display: none;     
        }
        .home {
            float: none;  
            margin: auto;
        }
    }
}
