
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: #2F4858;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    .slid-nav {
        .mat-button {
            padding: 5px;
            line-height: 30px;
            min-width: 30px;
        }
        .mat-icon {
            font-size: 40px;
            height: 40px;
            width: 40px;
        }
        display: none;
        float: left;        
    }
    .home {
        background-image: url('../../assets/logo.svg');   
        background-repeat: no-repeat;
        background-color: #F6AE2D;
        display: block;
        height: 50px;
        width: 200px;
        float: left;
        cursor: pointer;
        transition: all 1s;
        &:hover:not(.home) {
            background-color: #33658A;
            color: #86BBD8;
        } 
    }

    .nav-item {
        .mat-button {
            padding: 10px;
            line-height: 30px;
            min-width: 88px;
        }
        display: block;
        color: #86BBD8 !important;
        float: left;
        height: 100%;
        transition: all 1s;
        cursor: pointer;
        &:hover:not(.home) {
            background-color: #33658A;
            color: #86BBD8;
        }       
    }
}
.link-btn:hover /deep/ .mat-button-focus-overlay {
    background-color: transparent;
}
@media screen and (max-width: 500px) {
    .nav-bar {
        height: 50px;
        .slid-nav {
            display: block;
        }
        .nav-item {
            display: none;     
        }
        .home {
            float: none;  
            margin: auto;          
            height: 50px;
            width: 200px;
        }
    }
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }