@import "../../custom-theme.scss";

.sidenav {
    padding: 5px;    
    // background-color: $tertiary-blue-grey;
    .toolbar {
        padding: 5px;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        background-color: $grey-7;       
        .toolbar-logo {
            margin-bottom: auto;
        }
        .spacer {
            flex: 1 1 auto;
        }
        .close-button {
            margin-bottom: auto;
            color: $primary-blue-grey;
            margin-bottom: 24px;
        }
        .toolbar-row {
            padding: 10px;
            // align-items: baseline;
            flex-wrap: wrap;
            &:focus, &:active {
                outline: none; 
                // background-color: #C8E0ED;
            }
            .toolbar-text {
            }
            .toolbar-icon {
                color: $primary-blue-grey;
            }
            .project-list {
                flex-wrap: wrap;
                flex-basis: 100%;
                .project-list-item {
                    height: 50px;
                    padding: 10px;
                    font-family: 'Raleway', sans-serif;
                    background-color: $grey-7;
                }
            }
        }
        .item-selected {
            border-left: 2px solid $primary-light-blue;
            background-color: $grey-6;  
            transition: all 1s;          
        }
        .project-menu {
            height: 150px;
        }
    }
}

.fadeIn {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}
@keyframes fadeIn {
    60% {
        visibility: hidden;
    }
    100% {
      visibility: visible;
    }
}
.fadeOut {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}
@keyframes fadeOut {
    0% {
        visibility: visible;
    }
    25% {
        visibility: visible;
    }
    75% {
      visibility: hidden;
    }
    100% {
      visibility: hidden;
    }
}